#!/bin/sh

set -e

. /usr/share/debconf/confmodule || exit
db_version 2.0

db_get krb5-config/default_realm || true
if [ "x$RET" = "x" ] ; then
    if db_get krb4-config/default_realm && [ "x$RET" != "x" ] ; then
	db_set krb5-config/default_realm "$RET"
    else
	domain=`dnsdomainname 2>/dev/null || true`

	# This is a hack, copied from krb5.conf, since we don't have any files
	# when the config script runs.
	case "$domain" in
	media.mit.edu|*.media.mit.edu)	       realm=MEDIA-LAB.MIT.EDU ;;
	csail.mit.edu|*.csail.mit.edu)	       realm=CSAIL.MIT.EDU     ;;
	mit.edu|*.mit.edu)		       realm=ATHENA.MIT.EDU    ;;
	whoi.edu|*.whoi.edu)		       realm=ATHENA.MIT.EDU    ;;
	slac.stanford.edu|*.slac.stanford.edu) realm=SLAC.STANFORD.EDU ;;
	stanford.edu|*.stanford.edu)	       realm=stanford.edu      ;;
	*)
	    realm=`echo "$domain" | tr 'a-z' 'A-Z'`
	    ;;
	esac
	db_set krb5-config/default_realm "$realm"
    fi
fi

# The following sed script is used to extract the default realm from the
# krb5.conf file.  It should be run with perl -lanF= and must not use any
# Perl not present in perl-base (since this package doesn't depend on Perl).
extract_realm='
    if (/^\s*\[libdefaults\]/i ... /^\s*\[(?!libdefaults).*\]/) {
        next unless /^[^#;]+=/;
        $F[0] =~ s/\s//g;
        $F[1] =~ s/\s//g;
        print $F[1] if $F[0] =~ /^default[-_]realm$/i;
    }
'

db_get krb5-config/read_conf || true
if [ -f /etc/krb5.conf ] && [ "$RET" = "true" ] ; then
    db_set krb5-config/read_conf false
    realm=`perl -lanF= -e "$extract_realm" /etc/krb5.conf`
    if [ -n "$realm" ] ; then
	db_set krb5-config/default_realm "$realm"
    fi
fi

db_input medium krb5-config/default_realm || true
db_input low krb5-config/dns_for_default || true

db_go
