<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<service-group>
  <name replace-wildcards="yes">%h Timemachine</name>
  <service>
    <type>_afpovertcp._tcp</type>
    <port>548</port>
  </service>
  <service>
    <type>_adisk._tcp</type>
    <port>9</port>
    <txt-record>sys=waMA=%MACADDR%</txt-record>
    <txt-record>dk0=adVF=0xa1,adVN=Timemachine,adVU=%UUID%</txt-record>
  </service>
</service-group>

